apiVersion: v2
name: vote-app
description: A Helm chart for the Voting App
type: application
version: 0.1.0
appVersion: "1.0.0"

dependencies:
  - name: redis
    version: 18.19.4
    repository: https://charts.bitnami.com/bitnami
    condition: redis.enabled
  - name: postgresql
    version: 13.4.4
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
