apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: vote-pdb
  labels:
    app: vote
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: vote
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: result-pdb
  labels:
    app: result
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: result
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: worker-pdb
  labels:
    app: worker
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: worker
