apiVersion: v1
kind: Service
metadata:
  name: vote
  labels:
    app: vote
spec:
  type: "{{ .Values.vote.service.type }}"
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    app: vote
---
apiVersion: v1
kind: Service
metadata:
  name: result
  labels:
    app: result
spec:
  type: "{{ .Values.result.service.type }}"
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    app: result
